<!DOCTYPE html>
<html lang="en">
<!-- Including the header of the index Page using EJS & express -->
<%- include('./partials/head.ejs') %>

    <body>

        <p>You are in the home page Mr ghazi</p>

        <!-- Including the footer of the index Page using EJS & express -->
        <%- include('./partials/footer.ejs') %>
    </body>

</html>